
.menu {
  margin: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.menu_link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--btn-primary);
  background-image: linear-gradient(180deg, #0b8a60, #065f46);
  /* background-color: var(--primary); */
  transition: all 0.1s ease-in-out;
  padding: 1rem;
  border-radius: 0.8rem;
}

.menu_link:hover {
  filter: brightness(80%);
  /* transform: scale(1.1); */
}

.menu_link:active {
  transform: scale(0.9) translateY(2px);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.menu_link svg {
  width: 2.4rem;
  height: 2.4rem;
}
